<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-7 mt-5">
      <p><%= post.caption %></p>
    </div>

<!-- Adding comments section-->
    <div id="respond">

      <h3>Leave a Comment</h3>
    
      <form
          action="/post/addComments/<%= post.id %>?_method=PUT"
          method="POST"
          class="col-14"
      >
        <textarea name="newComment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>

<<<<<<< HEAD
=======

>>>>>>> origin/izzy
    <section>
      <ul>
        <% for(let i =0; i <post.addComments.length; i++) {%>
        <li><%=post.addComments[i].theComments %>
        
        <% if(post.addComments[i].userId == user.id){ %>
        <form
            action="/post/deleteComment/<%= post.id%>?_method=PUT"
            method="POST"
            class="col-3"
          >
<<<<<<< HEAD
        <button class='btn btn-primary fa fa-trash' type='submit'></button></li>
        <% } %>
      <% } %>
=======
        <button class='deleteComment' type='submit'> Delete</button></li>
        <% } %>
      <% } %>
    </ul>
    </section> 

    
     
  <section>
    <ul>
   
    <% for(let i =0; i <post.addComments.length; i++) {%>
      <li><%=post.addComments[i] %>
    <% } %>
>>>>>>> origin/izzy
    </ul>
    </section> 


<<<<<<< HEAD
    <div class="col-4 mt-5" id="post-footer-btns">
      <a class="btn btn-primary" id="return-to-feed-btn"href="/feed">Return to Feed</a>
      
      <a class="btn btn-primary" id="return-to-profile-btn" href="/profile">Return to Profile</a>
      
=======

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
>>>>>>> origin/izzy
    </div>
  </div>
</div>





<%- include('partials/footer') -%>